.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 32px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    margin-top: 108px;
}

.gallery-item {
    flex-basis: calc(33.333% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.image-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3c21d3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.image-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid #808080;
    padding: 10px;
    margin: 0;
}

.is-hidden {
    display: none;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.info-value {
    font-weight: bold;
}

.loading-message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #290cd3;
    margin-top: 108px;
}

.load-more-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #290cd3;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 32px;
}

.load-more-btn:hover {
    background-color: #61dafb;
}

.is-hidden {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #3700ff #0000ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.pos-bottom {
    display: none;
}