.search-form {
    top: 36px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.load-more {
    display: block;
    margin: 0 auto;
}

.loader {
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loader.visible {
    display: block;
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #101bba;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
}

.image-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid #808080;
    padding: 10px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-value {
    font-weight: 600;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
